/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-base);
  font-variation-settings: "wght" var(--wght-normal);
  background-image: url("../images/background.png");
  background-attachment: fixed;
  background-size: cover;
}

/* header */

.header {
  width: var(--card-size);
  padding: 120px 0;
  margin: 100px auto;
  text-align: center;
  background-color: #fff;
}

.header__title {
  font-family: var(--font-accent);
  font-size: var(--header-title);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header__text {
  font-family: var(--font-accent);
  font-size: var(--header-text);
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase; 
}

/* main */

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  width: var(--card-size);
  margin: 0 auto;
  background-color: #fff;
}

.card__title {
  font-variation-settings: "wght" var(--wght-bold);
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 5px 12px;
}

.img-container {
  position: relative;
  width: 100%;
}

.card__img-text {
  position: absolute;
  top: 25px;
  right: 13px;

  font-family: var(--font-accent);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
  color: #000;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .card__img-text {
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__img {
  display: block;
  width: 100%;
}

.card__info {
  display: flex;
  flex-direction: column;

  padding: 25px;
  gap: 25px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0%;
}

.card__buttons-container {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}


.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
}

.button__text {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0%;
}

.floppy__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  width: 306px;
  height: 80px;
  background-color: #fff;
  margin: 0 auto 100px;
}




