/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-base: "Inter", sans-serif;
  --font-accent: "PressStart2P", sans-serif;
  --wght-normal: 400;
  --wght-bold: 700;
}