/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-base: "Inter", sans-serif;
  --font-accent: "PressStart2P", sans-serif;
  --wght-normal: 400;
  --wght-bold: 700;
  --header-title: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-text: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --section-size: clamp(375px, 100%, 700px);
}